.home {
    background-image: url(../../assets/fondo_prueba.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    padding: 10px;
    min-height: 100vh;
    padding-bottom: 50px;   /* ESTO ES PARA Q NO SE HAGA LA BARRA ABAJO, XQ SE QUEDA SIN LUGAR. */
}

.home-title {
    color:rgba(63, 46, 24, 0.836);
    font-size: 90px;
    transform: translateY(-50%);
    text-shadow: 20px 0px 35px rgb(253, 255, 255), 0px 0px 50px rgb(236, 253, 137);
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav {
    background-color: rgba(255, 228, 196, 0.582);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: auto;
    height: 100px;
    display: flex;
}

.reload {
    background-color: rgba(255, 228, 196, 0.582);
    font-size: 20px;
    color: inherit;
    padding: 6px 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    border: 3.5px solid black;
    cursor: pointer;
}

.reload:hover {
    transform: scale(110%);
    background-color: white;
    color: rgb(18, 133, 148);
    border: 4px solid black;
}

.lateral-bar {
    background-color: rgba(255, 228, 196, 0.582);
    margin-left: 10px;
    margin-right: 160vh;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* display: grid;
place-items: center; */

.search {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    max-width: fit-content;
}

.sorter {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    max-width: fit-content;
    
}

.filter {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    max-width: fit-content;
}

/* .paginated {
    display: contents;
    justify-content: end;
    width: fit-content;
    padding: 10px;
    

} */


.dog-cards {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    margin-left: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}

.link-card {
    width: 400px;
    text-decoration: none;
    
}

.link-card:hover {
    transform: scale(110%);
    opacity: 1;
}