
.paginated-container {
    margin-top: -350px;
    margin-left: 650px;
    margin-bottom: 100px;
    width: fit-content;
    padding: 10px 30px 40px 0px;
    height: 40px;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(252, 234, 213, 0.975);
    opacity: 0.75;
    border-radius: 10px;
    border: 3.5px solid #745b45b2;
}

ul {
    list-style-type: none;
}

.paginated-bar {
    display: inline-flex;
    flex-direction: row;
    
    /* justify-content: flex-start; */
    
    /* align-items: flex-end; */
    /* margin-bottom: 100px; */
}


.number button{
    padding: 20px 10px 20px 10px;
    height: 10px;
    /* text-align: center; */
    color: #745b45b2;
    /* width: fit-content; */
    border-color: #745b45b2;
    border: 2px solid #745b45b2;
    /* border-width: 3px; */
    border-radius: 3px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01071em;
    /* margin-bottom: 40px; */
    background-color: rgba(252, 234, 213, 0.975);
    opacity: 0.8;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


.number button:hover {
    font-size: 30px;
    opacity: 0.6;
    transition: 0.3s;
    transform: scale(110%);
    background-color: white;
    color: rgb(18, 133, 148);
    
}
