
.title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-left: 120px;
    
}

.link-social{
    font-size: 50px;
    display: flex;
    margin-left: 1700px;
    padding-top: 10px;
    object-fit: contain;
    text-decoration: none;
    color: black;
}       


.list {
    position: relative;
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    margin-right: 150px;
    align-items: center;
}

.list-item {
    border-color: 2px solid black;
    display: flex;
    justify-content: space-around;    
    object-fit: contain;
    position: relative;
    font-size: 20px;
    margin: 10px;
}

.list-item a {
    background-color: rgba(255, 228, 196, 0.582);
    color: inherit;
    padding: 6px 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 250ms rgba(255, 255, 255, 0.856);
    font-weight: bold;
    border: 3px solid var(black);
}

.active {
    /* background-color: var(rgb(31, 8, 243)); */
}

.list-item:hover{
    border-radius: 20px;
    background-color: white;
    color: rgb(18, 133, 148);
    font-weight: bold;
}




.link-social a:hover {
    transition: 0.3s;
    color: rgb(18, 133, 148);
    text-decoration: none;
}

