
.title {
    justify-content: center;
    text-align: start;
    align-items: center;
    font-weight: bold;
}

.link-social{
    margin: 0 15px;
    font-size: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;       
    /* a{
        color: #333;
        margin: 10px;
        transition: color 200ms ease;

        &:hover{
            color: var(--color);
        
        }
        
    } */
}       


.list {
    margin-left: 1200px;
    font-weight: bold;
    list-style: none;
    display: list-item;
    align-items: center;
}

.list-item {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.list-item a {
    color: inherit;
    padding: 6px 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 250ms ease;
    font-weight: bold;
    border: 2px solid var(--color);
}

.active {
    background-color: var(--color);
}

.list-item a:hover{
    background-color: var(--color);
    color: rgb(18, 133, 148);
    font-weight: bold;
}




.link-social button:hover {
    background-color: #701f1f;
    transition: 0.3s;
    color: rgb(131, 113, 14);
    text-decoration: none;
}

